.menu {
    padding-top: 150px;
    width : 80%;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
  
}
#addBtn{
    margin : 0 auto ; 
    width : 80%;
    height : 40px;
    border-radius : 10px;
    background-color : rgb(245,155,0,0.8);
    border : none;
    color : white;
    font-weight : bold;
}
